doctype html
html(lang="KOR")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard - NiceAdmin Bootstrap Template
    meta(name="description" content="")
    meta(name="keywords" content="")

    // Favicons
    link(rel="icon" href="/image/admin/favicon.png")
    link(rel="apple-touch-icon" href="/image/admin/apple-touch-icon.png")

    // Google Fonts
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i")

    // Vendor CSS Files
    link(rel="stylesheet" href="/vendor/admin/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/vendor/admin/bootstrap-icons/bootstrap-icons.css")
    link(rel="stylesheet" href="/vendor/admin/boxicons/css/boxicons.min.css")
    link(rel="stylesheet" href="/vendor/admin/quill/quill.snow.css")
    link(rel="stylesheet" href="/vendor/admin/quill/quill.bubble.css")
    link(rel="stylesheet" href="/vendor/admin/remixicon/remixicon.css")
    link(rel="stylesheet" href="/vendor/admin/simple-datatables/style.css")

    // Template Main CSS File
    link(rel="stylesheet" href="/css/admin/style.css")
    
    // =======================================================
    // * Template Name: NiceAdmin
    // * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    // * Updated: Apr 20 2024 with Bootstrap v5.3.3
    // * Author: BootstrapMade.com
    // * License: https://bootstrapmade.com/license/
    // ========================================================
  body
    main
    .container
      section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
        .container
          .row.justify-content-center
            .col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
              .d-flex.justify-content-center.py-4
                a(href="index.html" class="logo d-flex align-items-center w-auto")
                  img(src="/image/admin/logo.png" alt="")
                  span.d-none.d-lg-block NiceAdmin
              .card.mb-3
                .card-body
                  .pt-4.pb-2
                    //- h5.card-title.text-center.pb-0.fs-4 Login to Your Account
                    //- p.text-center.small Enter your username & password to login
                  form.row.g-3.needs-validation(novalidate)
                    .col-12
                      label.form-label(for="yourUsername") 이메일
                      .input-group.has-validation
                        span.input-group-text#inputGroupPrepend @
                        input.form-control(type="text" name="email" id="yourUsername" required)
                        div.invalid-feedback Please enter your username.
                    .col-12
                      label.form-label(for="yourPassword") 비밀번호
                      input.form-control(type="password" name="password" id="yourPassword" required)
                      div.invalid-feedback Please enter your password!
                    //- .col-12
                    //-   .form-check
                    //-     input.form-check-input(type="checkbox" name="remember" value="true" id="rememberMe")
                    //-     label.form-check-label(for="rememberMe") Remember me
                    .col-12
                      button#login_btn.btn.btn-primary.w-100.login_btn(type="button") 로그인
                    .col-12
                      //- p.small.mb-0 Don't have account? a(href="pages-register.html") Create an account
              .credits  
                | Designed by
                a(href="https://bootstrapmade.com/") BootstrapMade
      .dim(style="display:none")
      .modal#custom_alert(tabindex="-1")
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header(style="border:0")
              //- h5.modal-title Modal title
              button.btn-close.modal_close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
              p.text-center.pt-2 Modal body text goes here.
            .modal-footer(style="border:0")
              //- button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
              button.btn.btn-danger.modal_close(type="button") 확인
      .modal#custom_success_alert(tabindex="-1")
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header(style="border:0")
              //- h5.modal-title Modal title
              button.btn-close.modal_close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
              p.text-center.pt-2 Modal body text goes here.
            .modal-footer(style="border:0")
              //- button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
              button.btn.btn-primary.modal_close(type="button") 확인
      .modal#custom_confirm(tabindex="-1")
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header(style="border:0")
              //- h5.modal-title Modal title
              button.btn-close.modal_close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
              p.text-center.pt-2 Modal body text goes here.
            .modal-footer(style="border:0")
              button.btn.btn-secondary.modal_close(type="button" data-bs-dismiss="modal") 취소
              button.btn.btn-primary.modal_confirm(type="button") 확인
    script(src="/javascript/admin/home/login.js") 
    script(src="/javascript/common.js") 