extends ../include/head

block content
  main#main.main
    .pagetitle
      h1 카테고리
      nav
        ol.breadcrumb
          li.breadcrumb-item
            a(href="/admin") 대시보드
          li.breadcrumb-item
            a(href="/category/list") 카테고리
          li.breadcrumb-item.active 등록
    section.section 
      .row 
        div.card
          .card-body
            h5.card-title 카테고리 등록
            // Custom Styled Validation
            form.row.g-3.needs-validation(novalidate)
              label.col-sm-6 1차 카테고리
              label.col-sm-6 2차 카테고리
              .col-sm-6.dropdown
                .dropdown-btn 1차 카테고리 선택
                .dropdown-content.first_category
                  a.pointer(herf="javascript:void(0)", data-value="a") 직접입력
                  a.pointer(herf="javascript:void(0)", data-value="1") 유니폼
              .col-sm-6.dropdown
                .dropdown-btn.disabled 2차 카테고리
                .dropdown-content.second_category
                  a.pointer(herf="javascript:void(0)", data-value="a") 직접입력
              .col-sm-6
                label
                input.form-control(type="text", name="first_category_input", disabled)
              .col-sm-6 
                label
                input.form-control(type="text", name="second_category_input", disabled)
              .col-12
                button.btn.btn-primary.write_btn(type="button") 등록
  script(src="/javascript/admin/category/write.js")   