nav.navbar.navbar-expand-lg.bg-body-tertiary 
  .container-fluid.container
    a.navbar-brand(href="#") Navbar w/ text
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse(id="navbarText")
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current="page", href="#") Home
        li.nav-item
          a.nav-link(href="/login") Features
        li.nav-item
          a.nav-link(href="#") Pricing
      span.navbar-text
        span.material-symbols-outlined.pointer.fs-3(onclick="location.href='/login'") login
        span.material-symbols-outlined.pointer.fs-3.ms-3(onclick="location.href='/cart'") shopping_bag
      

        
