doctype html
html(lang="KOR")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard - NiceAdmin Bootstrap Template
    meta(name="description" content="")
    meta(name="keywords" content="")

    // Favicons
    link(rel="icon" href="/image/favicon.png")
    link(rel="apple-touch-icon" href="/image/apple-touch-icon.png")

    // Google Fonts
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i")

    // Vendor CSS Files
    link(rel="stylesheet" href="/vendor/admin/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/vendor/admin/bootstrap-icons/bootstrap-icons.css")
    link(rel="stylesheet" href="/vendor/admin/boxicons/css/boxicons.min.css")
    link(rel="stylesheet" href="/vendor/admin/quill/quill.snow.css")
    link(rel="stylesheet" href="/vendor/admin/quill/quill.bubble.css")
    link(rel="stylesheet" href="/vendor/admin/remixicon/remixicon.css")
    link(rel="stylesheet" href="/vendor/admin/simple-datatables/style.css")

    // Template Main CSS File
    link(rel="stylesheet" href="/css/admin/style.css")

    //- Vendor JS Files
    script(src="/vendor/admin/apexcharts/apexcharts.min.js")
    script(src="/vendor/admin/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/vendor/admin/chart.js/chart.umd.js")
    script(src="/vendor/admin/echarts/echarts.min.js")
    script(src="/vendor/admin/quill/quill.js")
    script(src="/vendor/admin/simple-datatables/simple-datatables.js")
    script(src="/vendor/admin/tinymce/tinymce.min.js")
    script(src="/vendor/admin/php-email-form/validate.js")
    
    // =======================================================
    // * Template Name: NiceAdmin
    // * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    // * Updated: Apr 20 2024 with Bootstrap v5.3.3
    // * Author: BootstrapMade.com
    // * License: https://bootstrapmade.com/license/
    // ========================================================
  body

  include header
  include nav 
  block content
  include footer