<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileMapper">
  <insert id="insert">
    INSERT INTO file(
      real_name
      ,save_name
      ,path
      ,size
    )VALUES(
      #{original_name}
      ,#{save_name}
      ,#{path}
      ,#{size}
    )
  </insert>

  <select id="select">
    SELECT
      idx
      ,real_name as original_name
      ,save_name
      ,REPLACE(CONCAT(path,save_name),'/public/image/','/images/') as path
      ,size
      ,regist_date
    FROM file
    <where>
      <if test="idx != null and idx != ''">
        AND idx = #{idx}
      </if>
    </where>
  </select>
</mapper>