<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentMapper">
  <select id="exists">
    SELECT
      COUNT(idx) as count
    FROM payment
    WHERE payment_number LIKE CONCAT(#{payment_number},'%')
  </select>

  <insert id="insert">
    INSERT INTO payment (
      payment_number
      ,member_idx
      ,total_goods_price
      ,total_price
      <if test="delivery_fee != null and delivery_fee != '' ">
      ,delivery_fee
      </if>
      <if test="delete_yn != null and delete_yn != ''">
      ,delete_yn
      </if>
    )VALUES(
      #{payment_number}
      ,#{member_idx}
      ,#{total_goods_price}
      ,#{total_price}
      <if test="delivery_fee != null and delivery_fee != '' ">
      ,#{delivery_fee}
      </if>
      <if test="delete_yn != null and delete_yn != ''">
      ,#{delete_yn}
      </if>
    )
  </insert>

  <insert id="insertPaymentProduct">
    INSERT INTO payment_product(
      goods_idx
      ,payment_idx
      ,goods_name
      ,goods_price
      <if test="delete_yn != null and delete_yn != ''">
      ,delete_yn
      </if>
    )VALUES(
      #{goods_idx}
      ,#{payment_idx}
      ,#{goods_name}
      ,#{goods_price}
      <if test="delete_yn != null and delete_yn != ''">
      ,#{delete_yn}
      </if>
    )
  </insert>
</mapper>